* {
    margin:auto; 

}

.header {
    min-height: 50vh;
    background-image: url('../img/zatatoyur.jpg');
    background-size:cover;

}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: antiquewhite;
}
    
  
